body {
  background-color: #212121;
  color: white;
  font-family: Verdana, Arial, Sans;
}
body::before {
  content: "@saramic";
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 30px;
}
body::after {
  content: "bit.ly/data-pipe-2021";
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
}

div.step {
  font-size: 40px;
  width: 1000px;
}

#start-slide {
  width: 1200px;
}

#wide-title-slide-1 {
  width: 1200px;
}
#wide-title-slide-2 {
  width: 1200px;
}

#black-box-co-slide h1::before {
  background-image: url("../images/blackboxco-logo-only.png");
  background-repeat: no-repeat;
  background-size: 57px 57px;
  display: inline-block;
  width: 57px; 
  height: 57px;
  content:"";
  padding-right: 20px;
}

.left {
  float: left;
  width: 480px;
  padding-right: 20px;
}
.right {
  float: right;
  width: 460px;
  margin-top: 0;
}
